/target
/classes
/checkouts
/out
profiles.clj
pom.xml
pom.xml.asc
.cpcache
.nrepl-port
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/public/css/styles.css
/out
/.repl
*.log
/.env
/.clj-kondo/*
!/.clj-kondo/config.edn
/.shadow-cljs
/node_modules
/.lsp
/.calva
