{:tasks
 {:requires ([babashka.fs :as fs])

  format
  {:doc "Format the project."
   :task (shell "bb scripts/format.clj")}

  dev
  {:doc "Watch the site cljs, tests, and styles in parallel."
   :task (run '-dev {:parallel true})}

  -dev
  {:depends [watch-cljs watch-styles]}

  build
  {:doc "Build the project for release"
   :depends [build-cljs build-styles]}

  watch-cljs
  {:doc "Launch a dev and test server for live development"
   :task (shell "npx" "shadow-cljs" "watch" "app" "browser-test")}

  watch-styles
  {:doc "Build the Sass styles."
   :task (shell "sass" "--watch" "--no-source-map"
                "sass/styles.scss:public/css/styles.css")}

  build-cljs
  {:doc "Compile the cljs for release."
   :task (shell "npx" "shadow-cljs" "release" "app" )}

  build-styles
  {:doc "Build the Sass styles."
   :task (shell "sass" "--no-source-map"
                "sass/styles.scss:public/css/styles.css")}

  test
  {:doc "Runs all unit tests."
   :depends [-build-node-tests]
   :task (shell "node" "out/node/node_tests.js")}

  clean
  {:doc "Clean up generated directories."
   :task (do
           (println "Removing generated test files.")
           (fs/delete-tree "out"))}

  -build-node-tests
  {:doc "Compile the tests to a node script."
   :task (shell "npx" "shadow-cljs" "compile" "node-test")}}}
