{:deps true
 :builds {:app {:target     :browser
                :output-dir "public/js"
                :asset-path "/js"
                :modules    {:app {:entries [frontend.core]}}
                :devtools   {:http-port 3000
                             :http-root "public"
                             :after-load frontend.core/mount-root}}
          :node-test {:target :node-test
                      :output-to "out/node/node_tests.js"}
          :browser-test {:target :browser-test
                         :test-dir "out/browser"
                         :devtools {:http-port 8021
                                    :http-root "out/browser"}}}}
