{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.3"]
                [com.rpl/specter "1.1.3"]
                [nrepl "0.8.3"]
                [reagent "1.1.0"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [svg-editor.core]}}
                      :devtools   {:after-load svg-editor.core/mount-root}}}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
